@media (min-width:320px) 
 { main{
     margin-top:297px;
 }}

@media (min-width:480px)  {
    main{
        margin-top:297px;
    }
 }
@media (min-width:600px)  { 
    main{
        margin-top:297px;
    }
}
@media (min-width:801px)  {
    margin-top:100px;
  }
@media (min-width:1025px) {
    margin-top:50px;
 }
@media (min-width:1281px) { 
    main{
        margin-top:100px;
    }
 }
 img{
    height: 50px;
    width: 128px;
 }