
<header>
  <nav class="nav navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
  <div class="navbar-header"><a routerLink="/"><img src="../assets/pm-logo-horiz.png" alt="PostMan website logo" class="logo"></a></div>
  <ul class="nav navbar-nav">
    <li><a routerLink="/view-posts">View Posts</a></li>
    <li><a routerLink="/create-post">Create Post</a></li>
  </ul>
 <!-- <ul class="nav navbar-nav navbar-right">
     <li> <a href="#">
          <span class="glyphicon glyphicon-log-out"></span>
      </a></li>
    </ul>-->
  <!--<div class="nav navbar-form navbar-right">
    <form>
      <div class="input-group">
      <input type="search" class="form-control" placeholder="Search here..">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      </div>
    </form>
    
  </div>-->
  </div>
  </nav>
  
  </header>
  <main>
  <router-outlet></router-outlet>
  </main>
  <footer>
    
  </footer>
  